<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caldremch.utils">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <provider
            android:name=".UtilsProvider"
            android:authorities="com.caldremch.utils.UtilsProvider"
            android:grantUriPermissions="true"
            android:exported="false" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

    </application>
</manifest>