[submodule "dialog"]
	path = dialog
	url = git@github.com:android-module/dialog.git
[submodule "common"]
	path = common
	url = git@github.com:android-module/common.git
[submodule "version-plugin"]
	path = version-plugin
	url = git@github.com:android-module/version-plugin.git
