<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caldremch.laboratory">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test" />

        <activity android:name="com.caldremch.android.entry.EntryActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PageListActivity"
            android:exported="true"
            android:taskAffinity=""
            android:launchMode="singleTask" />
        <activity android:name=".activity.PageListAdapterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".BrowserActivity" />
        <activity android:name=".navigation.NavigationMainActivity"  android:exported="true">

            <nav-graph android:value="@navigation/navigation"/>

        </activity>

        <provider
            android:exported="false"
            android:authorities="${applicationId}.provider"
            android:name=".CustomFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_provider" />

        </provider>

        <service android:name=".LaboratoryService"
            android:enabled="true"
            android:permission="com.caldremch.REMOTE_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.caldremch.laboratory.LaboratoryService"/>
            </intent-filter>
        </service>
    </application>

</manifest>